{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block body %}
<div class="container mt-4" style="max-width: 600px;">
    <h2 class="mb-4">Create a New Password</h2>
    <form method="POST" class="form-control p-4">
        <div class="mb-3">
            <label><strong>New Password</strong></label>
            <input class="form-control" name="new_password" type="password" placeholder="Enter new password" required>
        </div>
        <div class="mb-3">
            <label><strong>Confirm Password</strong></label>
            <input class="form-control" name="confirm" type="password" placeholder="Confirm new password" required>
        </div>
        <button class="btn btn-primary mt-2" type="submit">Reset Password</button>
    </form>
</div>
{% endblock %}